* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vh;
    background: #18191f;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}

#apple,
#twitter,
#github,
#facebook {
    font-size: 8em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px #00000080 ,10px 1px 12px #00000080;
}